.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: #333;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 20px;
    
        span {
            font-family: "Nunito", sans-serif;
            letter-spacing: 1px;
        }
    }

    .card {
        width: 100%;
    }

    .fixed-width {
        width: 20%;
        text-align: center;
        font-size: medium;

    }
}
.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  p-table {
    width: 100%;
    border-collapse: collapse;
  
    th, td {
      padding: 8px 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  
    th {
        background-color: #4f81bd; 
    }
  
    .fixed-width {
      width: 150px; 
    }
  }
  .button-container {
    display: flex;
    gap: 10px; 
  }
  .button {
    background-color:black; 
    border: none;
    color: white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .headertable{
    color: white;
  }