<div class="container-fluid">
  <div class="header mt-4"><span>Edit Task</span></div>
  <form [formGroup]="editTask">
    <div class="form-container">
      <div class="form-row">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Module</mat-label>
          <input matInput type="text" placeholder="Select module" formControlName="module">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <input matInput type="text" placeholder="Select Status" formControlName="status">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Priority</mat-label>
          <input matInput type="text" placeholder="Select priority" formControlName="priority">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Assign TO</mat-label>
          <input matInput type="text" placeholder="Enter First Name" formControlName="assignTo">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <input matInput type="text" formControlName="description">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Assign TO</mat-label>
          <input matInput type="text" placeholder="Enter First Name" formControlName="assignTo2">
        </mat-form-field>
      </div>
    </div>

    <div class="button-container">
      <button mat-button class="button" (click)="onUpdate('update')"*ngIf="!showAddBtn" >Update</button>
      <button mat-button class="button" (click)="onAdd('update')" *ngIf="showAddBtn" >Add</button>
      <button mat-button class="button" (click)="onDelete('delete')"*ngIf="!showAddBtn" >Delete</button>      
      <button mat-button class="button" (click)="onClose()">Close</button>
    </div>
  </form>
</div>